.main{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    background-color: rgb(232, 210, 182);
    background: url(../../assets/1st_background.png) center center / 100% 100% no-repeat;
    overflow: hidden;
}

.image7 {
    position: absolute;
    bottom: 100px;
    left: 110px;
    width: 702px;
    height: 748px;
}